/* Responsive styles
================================================== */

/* Large Devices, Wide Screens */
@media (min-width : 1200px) {
	.dropdown i{
		display: none;
	}
}


/* Medium Devices, Desktops */
@media (min-width : 992px) {
	.navbar-brand i{
		margin-right: 0px;
		font-size: 16px;
		line-height: 16px;
	}

	/* features ====================*/
.feature-box h5{
	font-size: 13px!important;
}


}

/* Small Devices, Tablets */
@media (min-width : 768px) and (max-width: 991px) {


.navbar-default .navbar-nav > li > a {
	padding: 23px 10px;
	letter-spacing: 0px;
}
.navbar-brand i{
	margin-right: 0px;
	font-size: 16px;
	line-height: 16px;
}



/* features ====================*/

.feature-box h5{
	font-size: 13px!important;
}



/*testimonial =================================*/
#testimonial {
    padding-bottom: 100px;
}
#testimonial-carousel .item p {
    width: 100%;
}
#testimonial-carousel .item h5 {
    margin-top: 20px;
}

#testimonial-carousel .carousel-indicators {
    top: 40%;
}




}

/* Small Devices Potrait */
@media (max-width : 767px){

	
}

/* Extra Small Devices, Phones */ 
@media (min-width : 480px) and (max-width:767px){

/* background=================================*/

#section-intro {
   height: 450px;
}


.intro-caption {
    padding: 125px 15px;
}
.intro-caption h1 {
    font-size: 25px;
    line-height: 35px;
}

.mid-title {
    font-size: 30px;
}

.navbar-custom{
	margin-top: 0px;
	border-right: 0px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
		box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
}



/*testimonial =================================*/
#testimonial {
    padding-bottom: 100px;
}
#testimonial-carousel .item p {
    width: 100%;
}
#testimonial-carousel .item h5 {
    margin-top: 20px;
}
#testimonial-carousel .carousel-indicators{
	margin-top: 30px;
}

#testimonial-carousel .carousel-indicators li{
	width: 45px;
    height: 40px;
    float: left;
}
#testimonial-carousel .carousel-indicators li img {
    width: 45px;
    height: 40px;
    border-radius: 0px;
    border: 0px;
}

#testimonial-carousel .carousel-indicators {
    top: 90%;
}


/* contact ==========================================*/

.contact-info-wrap{
	margin-bottom: 60px;
}	

}

/* Custom, iPhone Retina */ 
@media (min-width : 320px) and (max-width: 478px)  {


/* background=================================*/

.intro-caption {
    padding: 125px 15px;
	text-align: left;
	padding-top: 185px;
	padding-left: 14px;
}
.intro-caption h1 {
    font-size: 25px;
    line-height: 35px;
}

.mid-title {
    font-size: 30px;
}

.navbar-custom{
	margin-top: 0px;
	border-right: 0px;
}

/*================== PORTFOLIO ==================*/

	#isotope-filter a{
		display: block;
		text-align: center;
		margin-bottom: 10px;
	}
	#isotope-filter{
		float: none!important;
	}
	
	
	
/*testimonial =================================*/
#testimonial {
    padding-bottom: 100px;
}
#testimonial-carousel .item p {
    width: 100%;
}
#testimonial-carousel .item h5 {
    margin-top: 20px;
}
#testimonial-carousel .carousel-indicators{
	margin-top: 30px;
}

#testimonial-carousel .carousel-indicators li{
	width: 45px;
    height: 40px;
    float: left;
}
#testimonial-carousel .carousel-indicators li img {
    width: 45px;
    height: 40px;
    border-radius: 0px;
    border: 0px;
}

#testimonial-carousel .carousel-indicators {
    top: 90%;
}


/* contact ==========================================*/

.contact-info-wrap{
	margin-bottom: 60px;
}


}